#treeMapSvg g.cell rect {
  stroke: black;
  stroke-width: 0.25px;
}

#treeMapSvgExport g.cell rect {
  stroke: black;
  stroke-width: 0.25px;
}

#treeMapSvgExport g.cell text {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
