.topbar-btns {
  height: 31px;
}

#wrapper {
  min-height: 100vh;
}



.toolTip {
    position: absolute;
    text-align: center;
    padding: 10px;
    margin: 2px;
    background: #f8f9fc;
    border: 0px;
    border-radius: calc(0.35rem - 1px);
    box-shadow: 0.15rem 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.85) !important;
    pointer-events: none;
    white-space: nowrap;
}

hr.toolTipLine {
  margin: 0.5rem;
}

.fullScreen, .fullScreen > div {
  overflow: visible !important;
  max-height: none !important;
  padding: 0rem;
}

.card-body-custom {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.tree-card {
}

.radio-dropdown:active {
  color: #3a3b45;
  background-color: #f8f9fc;
}

.dashboardDataTable {
  overflow-y: scroll;
}

#taxaTable table{
  width: 100% !important;
}

.dashboardDataTable::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.dashboardDataTable::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#compareSampleNameList {
}

#dashboardAmrTableDiv {
  max-height: 500px;
}

.dashboard-amr-chunk-value {
  width:150px;
}

.dashboard-amr-chunk-time {
  min-width:162px;
}

.donut-table-hover td {
  background-color: rgba(0, 0, 0, 0.075);
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #e3e6f0;
}


.searchContainer {
  height: 1.5em;
  display: inline-flex;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;
  margin-right: 1rem;
}

.searchIcon {
  padding: 0.3rem;
}

.searchBox {
  border: 0;
  height: auto;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hidden-text {
  font-size: 0;
}



polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}



.legend {
  cursor: default;
}

.donut-card {
  max-width: 100%;
  height: 365px;
  overflow: hidden;
  padding-top: 7px;
}

.goldFill {
  fill: gold !important;
}

.infoCardRow .card-body {
  padding: 0rem 1.25rem;
}

#taxaTable table.dataTable tbody tr td:nth-child(2) {
  text-transform: capitalize;
}


#addChart {
  border: 7px dashed #858796;
  background: none;
}

#addChart:hover {
border-color: #36B9C9;
color:#36B9C9;

}


.icon-red {
color:#e74a3b;
}

.icon-green {
color:#1cc88a;
}

.add-chart-card:hover i {
  color:#1cc88a;
}



#dashboardAmrDonutLegend svg.amrDonutLegend, #dashboardAmrHitsDonutLegend svg.amrHitsDonutLegend, #dashboardTaxaDonutLegend svg.taxaDonutLegend {
  margin: 5px 0px 5px 10px;
}

#dashboardAmrDonutLegend, #dashboardAmrHitsDonutLegend, #dashboardTaxaDonutLegend {
  max-height: 300px;
}

#dashboardAmrDonutLegend::-webkit-scrollbar, #dashboardAmrHitsDonutLegend::-webkit-scrollbar, #dashboardTaxaDonutLegend::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

#dashboardAmrDonutLegend::-webkit-scrollbar-thumb, #dashboardAmrHitsDonutLegend::-webkit-scrollbar-thumb, #dashboardTaxaDonutLegend::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}




#dashboardTaxaDonutOptions {
  padding-right: 3rem;
}

.taxonomicLevelSelector {
  width: 100px;
}

#dashboardReadsDonutLegend svg.readsDonutLegend {
  margin: 5px 0px 5px 10px;
}

#dashboardReadsDonutPlot {
  flex:1;
}

.hoverDonutPlotTextHighlight {
  font-weight: bold;
  fill: black !important;
}


#dashboardTreeMapTopNText {
  min-width: 250px;
}

#dashboardTaxaTreeTopNText {
  min-width: 250px;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #303030;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
