.fixed-left {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1030;
}

.modal-body tbody trabundance-button
  cursor: pointer;
}

.selected td {
  color: white;
  background: #305a7d;
}

.dropdown-form {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-nonhref {
  cursor: pointer;
  color: #3a3b45 !important;
}

.dropdown-nonhref:active {
  color: #fff !important;
}

.dropdown-nonhref.active {
  color: #fff !important;
}

table.dataTable thead th,table.dataTable thead td {
  padding:10px 18px;
  border-bottom:1px solid #e3e6f0;
}

table.dataTable tfoot th,table.dataTable tfoot td {
  padding:10px 18px 6px 18px;
  border-top:1px solid #e3e6f0;
}

.sidebar.toggled .marti-logo, .sidebar .marti-logo {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 462.9 555'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23ffffff;%7D%3C/style%3E%3Cpath class='st0' d='M404.1 68.4h-91.5V30.8c0-12.9-10.5-23.4-23.4-23.4H173.4c-12.9 0-23.4 10.5-23.4 23.4v37.6H58.5c-28 0-50.8 22.8-50.8 50.8v335.4c0 28 22.8 50.8 50.8 50.8H89v17.2c0 12.9 10.5 23.4 23.4 23.4h237.7c12.9 0 23.4-10.5 23.4-23.4v-17.2h30.5c28 0 50.8-22.8 50.8-50.8V119.2C454.9 91.2 432.1 68.4 404.1 68.4zM170.3 30.8c0-1.7 1.4-3.1 3.1-3.1h115.8c1.7 0 3.1 1.4 3.1 3.1v37.6H170.3V30.8zM353.3 522.7c0 1.7-1.4 3.1-3.1 3.1H112.4c-1.7 0-3.1-1.4-3.1-3.1v-17.2h243.9V522.7zM434.6 454.6c0 16.8-13.7 30.5-30.5 30.5H373.6 89 58.5c-16.8 0-30.5-13.7-30.5-30.5V119.2c0-16.8 13.7-30.5 30.5-30.5h91.5 162.6 91.5c16.8 0 30.5 13.7 30.5 30.5V454.6z'/%3E%3Cpath class='st0' d='M251.6 403.8h-40.7c-5.6 0-10.2 4.5-10.2 10.2 0 5.6 4.6 10.2 10.2 10.2h40.7c5.6 0 10.2-4.5 10.2-10.2C261.8 408.3 257.2 403.8 251.6 403.8z'/%3E%3Cpath class='st0' d='M192.8 180.5c-23.2-39.5-74.2-52.7-113.7-29.5 -39.5 23.2-52.7 74.2-29.4 113.7 18 30.6 79.3 87.1 123.7 87.1 7.5 0 14.6-1.6 20.9-5.3C237.3 321.2 213.9 216.2 192.8 180.5zM183.9 329c-26.9 15.9-97-41.1-116.7-74.6 -17.5-29.8-7.6-68.3 22.2-85.9 29.8-17.5 68.3-7.6 85.9 22.2 8.5 14.5 18.7 45.6 21.8 77.3C200.2 299.5 195.2 322.3 183.9 329z'/%3E%3Cpath class='st0' d='M383.5 151c-39.5-23.2-90.5-10-113.7 29.5 -12.2 20.7-25.1 64.5-25.5 102.7 -0.3 27.9 6 52.8 24.2 63.5 6.3 3.7 13.3 5.3 20.9 5.3 44.3 0 105.7-56.6 123.7-87.1 7.3-12.4 11-25.9 11.4-39.3C425.4 196.1 410.6 167 383.5 151zM265.5 268.2c3.1-31.6 13.3-62.8 21.8-77.3 17.5-29.8 56.1-39.7 85.9-22.2 19.6 11.5 30.6 32 30.9 53.2 0.1 11.1-2.6 22.3-8.6 32.5 -8.5 14.4-30.8 38.5-57 56.5 -26 18-48.4 24.7-59.7 18 -1.6-0.9-3-2.1-4.3-3.6C266.2 316 262.9 295.3 265.5 268.2z'/%3E%3Cpath class='st0' d='M171.4 253.7c-6.6-12.8-18.7-11.5-20.7-11.3 3.6-10 3.2-22.2-2.1-32.5l-14.3-27.8c-1.7-3.4-4.9-4.5-7.4-2.5 -2.5 2-2.9 6.1-1.1 9.5l15.1 27.4c6 10.8 3.8 24.8-4.6 31.9 -8.5 7.4-21 5.9-28-4.1l-18.6-25.5c-2.3-3.1-6-3.9-8.6-1.7 -2.6 2.2-2.8 6.2-0.4 9.2l19.4 25.1c10.9 14.1 25.2 12.1 27.4 11.8 -3.3 9.7-2.2 20.2 3.4 27.4l12.1 15.6c0.2 0.8 2.3 2.2 4.9-0.1 1.8-1.6 2.2-4.1 1-5.7l-11.6-15.9c-5.7-7.8-3.4-19.9 4.3-27.6 4.6-4.5 16.5-8.3 23.3 2.9l9.5 17.3c1 1.8 3 1.9 4.7 0.3 1.7-1.6 2.3-4.1 1.3-5.9L171.4 253.7z'/%3E%3Cpath class='st0' d='M159.6 262.3c-1.2-2.1-3.5-2.3-5.5-0.6l-11.6 10.5c-2 1.8-2.4 4.6-1 6.5 0.6 1.2 2.9 2.6 5.7 0.3l11.3-10.2C160.2 267.1 160.7 264.3 159.6 262.3z'/%3E%3Cpath class='st0' d='M161.7 275l-11 10c-1.9 1.7-2.3 4.3-1.1 6.1 2.6 2.1 4.6 0.8 5.5-0.1l10.5-9.6c1.8-1.6 2.3-4.2 1.2-6C165.7 273.5 163.5 273.3 161.7 275z'/%3E%3Cpath class='st0' d='M110.3 224.4l14.2-12c2.3-2 2.8-5.7 1-8.7 -1.8-3.1-5-4-7.4-2l-14.8 12.3c-2.5 2.1-2.8 5.9-0.7 8.9C103.5 224.3 106.6 227.2 110.3 224.4z'/%3E%3Cpath class='st0' d='M115.3 240.9c0.9 1.3 3.7 3.7 7 1.1l13.3-11.4c2.2-1.9 2.7-5.3 1.1-8 -1.6-2.8-4.5-3.4-6.8-1.5l-13.7 11.7C113.8 234.8 113.5 238.3 115.3 240.9z'/%3E%3Cpath class='st0' d='M288.2 276.9l9.5-17.2c6.8-11.2 18.7-7.4 23.3-2.9 7.7 7.7 10 19.7 4.3 27.6l-11.6 15.9c-1.2 1.6-0.8 4.1 1 5.7 2.6 2.3 4.7 0.9 4.9 0.1l12.1-15.6c5.6-7.2 6.7-17.7 3.4-27.4 2.2 0.3 16.5 2.3 27.4-11.8l19.4-25.1c2.4-3 2.2-7-0.4-9.2 -2.6-2.1-6.3-1.4-8.6 1.8l-18.6 25.6c-7 10-19.5 11.5-28 4.1 -8.3-7.1-10.5-21.1-4.6-31.9l15.1-27.4c1.9-3.3 1.4-7.4-1.1-9.4 -2.5-2-5.6-0.9-7.4 2.5l-14.3 27.8c-5.3 10.4-5.7 22.6-2.1 32.5 -2-0.2-14.1-1.5-20.7 11.3l-9 17.6c-0.9 1.8-0.3 4.3 1.3 5.9C285.2 278.8 287.2 278.7 288.2 276.9z'/%3E%3Cpath class='st0' d='M321.2 278.8c1.4-2 0.9-4.8-1-6.5l-11.6-10.5c-1.9-1.7-4.3-1.4-5.5 0.6 -1.2 2-0.6 4.8 1.2 6.5l11.3 10.2C318.3 281.4 320.6 280 321.2 278.8z'/%3E%3Cpath class='st0' d='M311.9 285.1l-11-10c-1.8-1.6-4-1.5-5.1 0.4 -1.1 1.8-0.5 4.4 1.2 6l10.5 9.6c0.9 0.8 2.9 2.2 5.5 0.1C314.2 289.4 313.7 286.8 311.9 285.1z'/%3E%3Cpath class='st0' d='M338.1 212.6l14.2 12c3.7 2.8 6.7-0.1 7.7-1.5 2.1-3 1.8-6.8-0.7-8.9l-14.8-12.3c-2.4-2-5.6-1.1-7.4 2C335.4 206.9 335.8 210.6 338.1 212.6z'/%3E%3Cpath class='st0' d='M326 222.8c-1.6 2.7-1.1 6.1 1.1 8l13.3 11.4c3.3 2.6 6.1 0.2 7-1.1 1.8-2.6 1.5-6.1-0.9-8.1l-13.7-11.7C330.5 219.3 327.5 220 326 222.8z'/%3E%3C/svg%3E") no-repeat center center;
  width: 100%;
  height: 42px;
}

.marti-logo-full {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 304.7 302.2' style='enable-background:new 0 0 304.7 302.2;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23000000;%7D%3C/style%3E%3Cpath class='st0' d='M221.5,29H186c-0.4-7.6,3-23.7-9.1-23.7H132c-12.1,0-8.7,16.1-9.1,23.6c-17.4,1.6-54.7-8.1-55.2,19.7v130.1	c0.7,18.2,16.5,21,31.5,19.7c-0.6,6.8,0.3,15.7,9.1,15.8h92.2c8.7,0,9.7-9,9.1-15.8c15,1.2,30.8-1.4,31.5-19.7V48.6	C241.2,37.9,232.3,29,221.5,29z M130.8,14.4c0-0.7,0.5-1.2,1.2-1.2h44.9c0.7,0,1.2,0.5,1.2,1.2V29h-47.3L130.8,14.4L130.8,14.4z M201.7,205.3c0.3,3.4-92.2,0.1-93.4,1.2c-2.3,0.2-0.8-6.8-1.2-7.9h94.6V205.3z M233.3,178.9c-0.2,13.1-14.2,12.2-23.7,11.8	c-5.6,0-120.7,0-122.2,0c-6.5,0-11.8-5.3-11.8-11.8V48.7c0-6.5,5.3-11.8,11.8-11.8h35.5c22.6,0.2,76.5-0.1,98.6,0	c6.5,0,11.8,5.3,11.8,11.8V178.9L233.3,178.9z M162.3,159.1h-15.8c-5.1-0.1-5.1,8,0,7.9h15.8C167.4,167.1,167.4,159.1,162.3,159.1z M139.5,72.5c-22.1-36.1-76.4-4.2-55.5,32.7C126.6,163.2,170.4,141.3,139.5,72.5z M136,130.1c-10.4,6.2-37.6-16-45.3-28.9	C75,73.3,116,49.3,132.7,76.5C138.4,84.4,147.3,123.3,136,130.1z M213.5,61.1c-33.4-17.3-54.1,17.3-54,50.1	c-0.3,11.3,2,21.5,9.4,25.8c19.7,9.4,47.7-18.7,56.1-31.7C233.8,90.2,228.9,70.2,213.5,61.1z M218.1,101.2	c-4.2,8.8-33.8,35.5-45.3,28.9c-11.6-8.5-2.2-44.9,3.3-53.6C192.9,49.2,233.8,73.5,218.1,101.2z M131.2,100.9c-2.6-5-7.2-4.5-8-4.4	c3.5-7.3-3.2-17-6.4-23.4c-1.8-3.3-4.9,0.2-3.3,2.7c3.3,6.1,11.6,17.1,4.1,23c-7.7,7-14.2-6.7-18.1-11.5c-2-2.9-5.7,0.3-3.5,2.9	l7.5,9.7c4.2,5.5,9.8,4.7,10.6,4.6c-2.8,6.6,2.3,12.1,6,16.7c0.6,1.5,3.6-0.9,2.3-2.3l-4.5-6.2c-4.5-5.7,4.2-18.2,10.7-9.6	c0.9,0.7,3.5,9.1,5.5,6.8C136.5,108.5,131.5,102.5,131.2,100.9z M126.6,104.2c-0.5-0.8-1.4-0.9-2.1-0.2c-1,1.4-6.6,4.4-4.9,6.6	c0.2,0.5,1.1,1,2.2,0.1C122.8,109.3,128.1,106.5,126.6,104.2z M127.4,109.2c-0.9,1.3-6.2,4.3-4.7,6.2c1.9,1.7,4.8-3,6.2-3.8	C130.4,110.5,129.2,107.6,127.4,109.2z M107.5,89.6L113,85c2-1.4-0.2-6-2.5-4.2l-5.7,4.8C102.8,87,104.6,91.4,107.5,89.6z M109.4,96	c0.3,0.5,1.4,1.4,2.7,0.4c1.3-1.7,7.6-4.7,5.6-7.5c-1.7-3.4-6.4,3.3-8,4C108.8,93.6,108.7,94.9,109.4,96z M209.3,87.4l-7.2,9.9	c-7,9.2-18-2.2-12.6-10.8c0.6-2.4,8.6-12,5.5-14.3c-2.9-2.8-7.1,10.6-8.4,11.8c-2.1,4-2.2,8.8-0.8,12.6c-0.8-0.1-5.5-0.6-8,4.4	l-3.5,6.8c-0.8,1.3,1.3,3.9,2.3,2.2c2.8-5.5,6.3-13.2,12.7-7.8c6.1,5.8,1,12-2.8,16.9c-1.3,1.3,1.7,3.7,2.3,2.3	c3.7-4.6,8.8-10.1,6-16.7c0.8,0.1,6.4,0.9,10.6-4.6l7.5-9.7C215,87.7,211.4,84.5,209.3,87.4z M189.3,110.6c1.7-2.2-4-5.2-4.9-6.6	c-0.7-0.7-1.7-0.6-2.1,0.2c-1.5,2.2,3.9,5.1,4.9,6.5C188.2,111.7,189.1,111.1,189.3,110.6z M185.7,113.1l-4.3-3.9	c-1.8-1.5-3,1.3-1.5,2.5l4.1,3.7C185.3,116.9,187.5,114.7,185.7,113.1z M195.9,85l5.5,4.6c2.9,1.8,4.6-2.6,2.7-4l-5.7-4.8	C196,78.9,193.8,83.5,195.9,85z M191.1,88.9c-2,2.8,4.3,5.9,5.6,7.5c1.3,1,2.4,0.1,2.7-0.4c2.3-2.8-4.4-6-5.7-7.7	C192.9,87.6,191.8,87.8,191.1,88.9z M13.6,297.6H6.4l7.2-62.5l23.8,43.1l23.8-43.1l7.2,62.5h-7.2l-4.4-40.2L37.4,292L18,257.3	L13.6,297.6z M106.9,275.1l-0.7,1.5l-8.8,20.9h-8.1l27.6-62.5l27.6,62.5h-8.1c-5-11.8-14.5-34.2-19.5-46.1L106.9,275.1z M103.9,272.9h26.3l2.6,6.8h-31.5L103.9,272.9z M176,238.1v59.5h-7.2v-59.5H176z M172.8,238.1c13.4-0.9,32.6,0.2,32.4,17.9	c0.1,17.6-19,18.8-32.4,17.8v-6.4c9.1,0.1,25.5,1.9,25.2-11.5c0.4-13.4-16.1-11.6-25.2-11.5L172.8,238.1L172.8,238.1z M187.5,268.2	l21.2,29.3h-8.9l-20.4-29.3H187.5z M227.4,238.1h37.8v6.8h-15.3v52.7h-7.2v-52.7h-15.3L227.4,238.1L227.4,238.1z M290.9,239	c4.2-4.3,10.9,2.4,6.6,6.6C293.3,250.1,286.4,243.1,290.9,239z M297.5,258.5v39.1h-6.8v-39.1H297.5z'/%3E%3C/svg%3E") no-repeat center center;

  width: 100%;
  height: 100px;

}


/* @media (min-width: 768px) {
.sidebar .marti-logo {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 671.21 198.48'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23ffffff;%7D%3C/style%3E%3Cpolygon class='st0' points='277.52 135.85 227.59 39.93 213.15 169.55 222.96 169.55 233.65 70.77 277.52 155.11 321.38 70.77 332.08 169.55 341.88 169.55 327.44 39.93 '/%3E%3Cpath class='st0' d='M352.05 169.55h11.06l17.12-41.9h53.74l17.22 41.9h11.05L407.14 39.93 352.05 169.55zM384.21 118.38l22.93-55.81 23.06 55.81H384.21z'/%3E%3Cpath class='st0' d='M529.01 112.85c6.36-2.85 11.38-6.98 15.07-12.39 3.68-5.41 5.53-11.92 5.53-19.52 0-7.73-1.84-14.26-5.53-19.61 -3.69-5.35-8.71-9.45-15.07-12.3 -6.36-2.85-13.58-4.28-21.66-4.28h-18.72 -4.64 -5.17v124.81h9.81v-52.42h16.37l36.41 52.42h12.12l-37.9-52.97C520.44 115.93 524.91 114.69 529.01 112.85zM488.62 108.39V53.48h18.72c6.3 0 11.88 1.04 16.76 3.12 4.87 2.08 8.71 5.14 11.5 9.18 2.79 4.04 4.19 9.09 4.19 15.16 0 5.95-1.37 10.97-4.1 15.07 -2.74 4.1-6.54 7.19-11.41 9.27 -4.88 2.08-10.52 3.12-16.94 3.12H488.62z'/%3E%3Cpolygon class='st0' points='559.59 54.01 592.39 54.01 592.39 169.55 602.2 169.55 602.2 54.01 635.01 54.01 635.01 44.74 559.59 44.74 '/%3E%3Cpath class='st0' d='M662.91 45.81c-1.25-1.31-2.83-1.96-4.73-1.96 -1.9 0-3.48 0.65-4.72 1.96 -1.25 1.31-1.87 2.85-1.87 4.64 0 1.78 0.62 3.33 1.87 4.64 1.25 1.31 2.82 1.96 4.72 1.96 1.9 0 3.48-0.65 4.73-1.96 1.25-1.31 1.87-2.85 1.87-4.64C664.78 48.66 664.16 47.12 662.91 45.81z'/%3E%3Crect x='653.55' y='87.53' class='st0' width='9.27' height='82.02'/%3E%3Cpath class='st0' d='M144.85 27.28h-31.83V14.21c0-4.5-3.66-8.15-8.15-8.15H64.6c-4.49 0-8.15 3.66-8.15 8.15v13.06H24.62c-9.75 0-17.68 7.93-17.68 17.68v116.7c0 9.75 7.93 17.68 17.68 17.68h10.61v5.99c0 4.49 3.66 8.15 8.15 8.15h82.72c4.49 0 8.15-3.66 8.15-8.15v-5.99h10.61c9.75 0 17.68-7.93 17.68-17.68V44.96C162.54 35.21 154.6 27.28 144.85 27.28zM63.52 14.21c0-0.6 0.48-1.08 1.08-1.08h40.28c0.59 0 1.08 0.48 1.08 1.08v13.06H63.52V14.21zM127.17 185.33c0 0.6-0.48 1.08-1.08 1.08H43.38c-0.59 0-1.08-0.48-1.08-1.08v-5.99h84.87V185.33zM155.46 161.66c0 5.85-4.76 10.61-10.61 10.61h-10.61H35.23 24.62c-5.85 0-10.61-4.76-10.61-10.61V44.96c0-5.85 4.76-10.61 10.61-10.61h31.83 56.58 31.83c5.85 0 10.61 4.76 10.61 10.61V161.66z'/%3E%3Cpath class='st0' d='M91.81 143.98H77.66c-1.95 0-3.54 1.58-3.54 3.54 0 1.96 1.58 3.54 3.54 3.54h14.15c1.95 0 3.54-1.58 3.54-3.54C95.35 145.56 93.76 143.98 91.81 143.98z'/%3E%3Cpath class='st0' d='M71.35 66.28c-8.08-13.73-25.83-18.34-39.56-10.25 -13.73 8.08-18.33 25.83-10.24 39.56 6.26 10.63 27.6 30.31 43.03 30.31 2.62 0 5.08-0.57 7.26-1.85C86.81 115.23 78.67 78.71 71.35 66.28zM68.24 117.96c-9.36 5.54-33.75-14.31-40.6-25.95 -6.1-10.38-2.63-23.78 7.74-29.88 10.38-6.09 23.78-2.63 29.88 7.74 2.96 5.03 6.51 15.87 7.58 26.88C73.9 107.7 72.18 115.63 68.24 117.96z'/%3E%3Cpath class='st0' d='M137.68 56.03c-13.73-8.09-31.48-3.49-39.56 10.24 -4.12 7-8.5 21.64-8.87 34.67 -0.29 10.13 1.84 19.29 8.39 23.15 2.17 1.28 4.63 1.85 7.26 1.85 15.43 0 36.77-19.68 43.03-30.31 2.53-4.3 3.82-9 3.97-13.66C152.25 71.72 147.13 61.59 137.68 56.03zM141.83 92.01c-2.96 5.03-10.72 13.4-19.82 19.67 -9.06 6.25-16.84 8.59-20.78 6.28 -0.55-0.32-1.04-0.74-1.49-1.23 -2.87-3.29-4.03-10.48-3.11-19.94 1.07-11.01 4.62-21.85 7.58-26.88 6.1-10.37 19.5-13.83 29.88-7.74 7.12 4.19 10.98 11.82 10.74 19.55C144.71 85.23 143.74 88.77 141.83 92.01z'/%3E%3Cpath class='st0' d='M63.9 91.75c-2.29-4.45-6.5-4.01-7.19-3.93 1.24-3.47 1.12-7.71-0.74-11.32l-4.99-9.68c-0.61-1.18-1.72-1.56-2.57-0.86 -0.86 0.7-1.02 2.13-0.37 3.29l5.26 9.53c2.07 3.75 1.31 8.64-1.59 11.1 -2.95 2.58-7.29 2.05-9.74-1.42l-6.46-8.89c-0.79-1.09-2.08-1.36-3-0.61 -0.92 0.75-0.98 2.14-0.15 3.2l6.76 8.72c3.8 4.9 8.77 4.21 9.53 4.1 -1.14 3.37-0.77 7.02 1.18 9.54l4.19 5.42c0.08 0.29 0.81 0.77 1.7-0.03 0.63-0.56 0.77-1.42 0.36-1.99l-4.03-5.54c-1.98-2.73-1.19-6.92 1.48-9.59 1.58-1.58 5.73-2.89 8.1 1l3.31 6c0.34 0.62 1.04 0.66 1.63 0.12 0.59-0.54 0.79-1.42 0.46-2.05L63.9 91.75z'/%3E%3Cpath class='st0' d='M59.78 94.73c-0.41-0.72-1.23-0.81-1.9-0.22l-4.05 3.64c-0.68 0.61-0.84 1.59-0.36 2.27 0.22 0.42 1 0.91 1.97 0.12l3.93-3.56C60 96.4 60.18 95.44 59.78 94.73z'/%3E%3Cpath class='st0' d='M60.53 99.16l-3.82 3.49c-0.65 0.59-0.81 1.5-0.38 2.11 0.89 0.73 1.59 0.27 1.91-0.02l3.64-3.35c0.61-0.56 0.8-1.46 0.43-2.1C61.92 98.65 61.16 98.59 60.53 99.16z'/%3E%3Cpath class='st0' d='M42.62 81.57l4.95-4.16c0.81-0.68 0.97-1.98 0.35-3.04 -0.63-1.08-1.74-1.39-2.59-0.69l-5.15 4.27c-0.87 0.72-0.97 2.05-0.25 3.09C40.28 81.54 41.34 82.54 42.62 81.57z'/%3E%3Cpath class='st0' d='M44.37 87.31c0.31 0.45 1.29 1.3 2.44 0.38l4.61-3.97c0.76-0.65 0.93-1.84 0.38-2.78 -0.55-0.97-1.56-1.19-2.35-0.52l-4.78 4.07C43.86 85.19 43.74 86.4 44.37 87.31z'/%3E%3Cpath class='st0' d='M133.97 79.62l-6.46 8.89c-2.45 3.47-6.79 4-9.74 1.42 -2.9-2.46-3.66-7.36-1.59-11.1l5.26-9.53c0.64-1.16 0.49-2.59-0.37-3.29 -0.86-0.7-1.97-0.32-2.57 0.86l-4.99 9.68c-1.86 3.61-1.98 7.85-0.74 11.32 -0.69-0.08-4.9-0.51-7.19 3.93l-3.15 6.11c-0.32 0.63-0.12 1.5 0.46 2.05 0.59 0.55 1.29 0.5 1.63-0.12l3.31-6c2.37-3.9 6.52-2.58 8.1-1 2.67 2.67 3.46 6.86 1.48 9.59l-4.03 5.54c-0.41 0.57-0.27 1.43 0.36 1.99 0.9 0.8 1.62 0.32 1.7 0.03l4.19-5.42c1.95-2.52 2.33-6.18 1.18-9.54 0.76 0.11 5.73 0.81 9.53-4.1l6.76-8.72c0.83-1.06 0.77-2.44-0.15-3.2C136.05 78.26 134.76 78.53 133.97 79.62z'/%3E%3Cpath class='st0' d='M116.02 100.47c0.47-0.68 0.32-1.66-0.36-2.27l-4.05-3.64c-0.67-0.6-1.49-0.5-1.9 0.22 -0.41 0.71-0.23 1.67 0.42 2.26l3.93 3.56C115.01 101.39 115.8 100.89 116.02 100.47z'/%3E%3Cpath class='st0' d='M112.77 102.7l-3.82-3.49c-0.63-0.58-1.39-0.51-1.76 0.13 -0.37 0.64-0.18 1.53 0.43 2.1l3.64 3.35c0.32 0.29 1.02 0.75 1.91 0.02C113.58 104.19 113.42 103.28 112.77 102.7z'/%3E%3Cpath class='st0' d='M121.9 77.45l4.95 4.16c1.29 0.98 2.34-0.02 2.69-0.54 0.72-1.03 0.61-2.37-0.25-3.09l-5.15-4.27c-0.85-0.7-1.96-0.4-2.59 0.69C120.94 75.47 121.09 76.77 121.9 77.45z'/%3E%3Cpath class='st0' d='M117.67 80.99c-0.54 0.94-0.38 2.12 0.38 2.78l4.61 3.97c1.15 0.92 2.13 0.07 2.44-0.38 0.63-0.91 0.51-2.13-0.3-2.81l-4.78-4.07C119.23 79.8 118.22 80.03 117.67 80.99z'/%3E%3C/svg%3E") no-repeat center center;
  width: 100%;
  height: 42px;
}
} */

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  background-color: white;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: white;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: white;
}

/* Standard syntax */
:fullscreen {
  background-color: white;
}

.fullScreenIcon {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0.5rem;
}


.sidebar-dark .nav-item.active .nav-link {
  color: #fff;
  border-left: 4px solid #fff;
  padding-left: 12px;
}

#accordionSidebar {
  background-color: #303030;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 6.5rem);
  z-index: 1030;
}

.topToggled {
  left: 0;
  width: auto !important;
}

.container-fluid {
  padding-top: 5rem;
}

.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.navbar-height {
  height: 2rem !important;
}

#pageTitle {
  /* margin-left: 8.5rem; */
}
.mr-075 {
  margin-right: 0.75rem;
}
.z-index-1 {
  z-index: 1;
}
.fixed-options-bar {
  background-color: #F7F7F7;
  height: 3rem;
  position: fixed;
  top: 3.5rem;
  right: 0;
  width: calc(100% - 6.5rem);
  z-index: 1029;
}
.abundance-button>button:focus {
  box-shadow: none !important;
}
.visibleUrl {
    color: #375a7f;
    text-decoration: underline;
}


.tooltip-content-wrapper {
  max-width:400px;
}


.tooltip-content {
  display: inline-block;
}

.arial-font {
  font-family: Arial;
}

th.dt-center, td.dt-center {
  text-align: center;
}
