.fixed-left {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1030;
}

.modal-body tbody trabundance-button
  cursor: pointer;
}

.selected td {
  color: white;
  background: #305a7d;
}

.dropdown-form {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-nonhref {
  cursor: pointer;
  color: #3a3b45 !important;
}

.dropdown-nonhref:active {
  color: #fff !important;
}

.dropdown-nonhref.active {
  color: #fff !important;
}

table.dataTable thead th,table.dataTable thead td {
  padding:10px 18px;
  border-bottom:1px solid #e3e6f0;
}

table.dataTable tfoot th,table.dataTable tfoot td {
  padding:10px 18px 6px 18px;
  border-top:1px solid #e3e6f0;
}

.sidebar.toggled .marti-logo, .sidebar .marti-logo {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 462.9 555'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23ffffff;%7D%3C/style%3E%3Cpath class='st0' d='M404.1 68.4h-91.5V30.8c0-12.9-10.5-23.4-23.4-23.4H173.4c-12.9 0-23.4 10.5-23.4 23.4v37.6H58.5c-28 0-50.8 22.8-50.8 50.8v335.4c0 28 22.8 50.8 50.8 50.8H89v17.2c0 12.9 10.5 23.4 23.4 23.4h237.7c12.9 0 23.4-10.5 23.4-23.4v-17.2h30.5c28 0 50.8-22.8 50.8-50.8V119.2C454.9 91.2 432.1 68.4 404.1 68.4zM170.3 30.8c0-1.7 1.4-3.1 3.1-3.1h115.8c1.7 0 3.1 1.4 3.1 3.1v37.6H170.3V30.8zM353.3 522.7c0 1.7-1.4 3.1-3.1 3.1H112.4c-1.7 0-3.1-1.4-3.1-3.1v-17.2h243.9V522.7zM434.6 454.6c0 16.8-13.7 30.5-30.5 30.5H373.6 89 58.5c-16.8 0-30.5-13.7-30.5-30.5V119.2c0-16.8 13.7-30.5 30.5-30.5h91.5 162.6 91.5c16.8 0 30.5 13.7 30.5 30.5V454.6z'/%3E%3Cpath class='st0' d='M251.6 403.8h-40.7c-5.6 0-10.2 4.5-10.2 10.2 0 5.6 4.6 10.2 10.2 10.2h40.7c5.6 0 10.2-4.5 10.2-10.2C261.8 408.3 257.2 403.8 251.6 403.8z'/%3E%3Cpath class='st0' d='M192.8 180.5c-23.2-39.5-74.2-52.7-113.7-29.5 -39.5 23.2-52.7 74.2-29.4 113.7 18 30.6 79.3 87.1 123.7 87.1 7.5 0 14.6-1.6 20.9-5.3C237.3 321.2 213.9 216.2 192.8 180.5zM183.9 329c-26.9 15.9-97-41.1-116.7-74.6 -17.5-29.8-7.6-68.3 22.2-85.9 29.8-17.5 68.3-7.6 85.9 22.2 8.5 14.5 18.7 45.6 21.8 77.3C200.2 299.5 195.2 322.3 183.9 329z'/%3E%3Cpath class='st0' d='M383.5 151c-39.5-23.2-90.5-10-113.7 29.5 -12.2 20.7-25.1 64.5-25.5 102.7 -0.3 27.9 6 52.8 24.2 63.5 6.3 3.7 13.3 5.3 20.9 5.3 44.3 0 105.7-56.6 123.7-87.1 7.3-12.4 11-25.9 11.4-39.3C425.4 196.1 410.6 167 383.5 151zM265.5 268.2c3.1-31.6 13.3-62.8 21.8-77.3 17.5-29.8 56.1-39.7 85.9-22.2 19.6 11.5 30.6 32 30.9 53.2 0.1 11.1-2.6 22.3-8.6 32.5 -8.5 14.4-30.8 38.5-57 56.5 -26 18-48.4 24.7-59.7 18 -1.6-0.9-3-2.1-4.3-3.6C266.2 316 262.9 295.3 265.5 268.2z'/%3E%3Cpath class='st0' d='M171.4 253.7c-6.6-12.8-18.7-11.5-20.7-11.3 3.6-10 3.2-22.2-2.1-32.5l-14.3-27.8c-1.7-3.4-4.9-4.5-7.4-2.5 -2.5 2-2.9 6.1-1.1 9.5l15.1 27.4c6 10.8 3.8 24.8-4.6 31.9 -8.5 7.4-21 5.9-28-4.1l-18.6-25.5c-2.3-3.1-6-3.9-8.6-1.7 -2.6 2.2-2.8 6.2-0.4 9.2l19.4 25.1c10.9 14.1 25.2 12.1 27.4 11.8 -3.3 9.7-2.2 20.2 3.4 27.4l12.1 15.6c0.2 0.8 2.3 2.2 4.9-0.1 1.8-1.6 2.2-4.1 1-5.7l-11.6-15.9c-5.7-7.8-3.4-19.9 4.3-27.6 4.6-4.5 16.5-8.3 23.3 2.9l9.5 17.3c1 1.8 3 1.9 4.7 0.3 1.7-1.6 2.3-4.1 1.3-5.9L171.4 253.7z'/%3E%3Cpath class='st0' d='M159.6 262.3c-1.2-2.1-3.5-2.3-5.5-0.6l-11.6 10.5c-2 1.8-2.4 4.6-1 6.5 0.6 1.2 2.9 2.6 5.7 0.3l11.3-10.2C160.2 267.1 160.7 264.3 159.6 262.3z'/%3E%3Cpath class='st0' d='M161.7 275l-11 10c-1.9 1.7-2.3 4.3-1.1 6.1 2.6 2.1 4.6 0.8 5.5-0.1l10.5-9.6c1.8-1.6 2.3-4.2 1.2-6C165.7 273.5 163.5 273.3 161.7 275z'/%3E%3Cpath class='st0' d='M110.3 224.4l14.2-12c2.3-2 2.8-5.7 1-8.7 -1.8-3.1-5-4-7.4-2l-14.8 12.3c-2.5 2.1-2.8 5.9-0.7 8.9C103.5 224.3 106.6 227.2 110.3 224.4z'/%3E%3Cpath class='st0' d='M115.3 240.9c0.9 1.3 3.7 3.7 7 1.1l13.3-11.4c2.2-1.9 2.7-5.3 1.1-8 -1.6-2.8-4.5-3.4-6.8-1.5l-13.7 11.7C113.8 234.8 113.5 238.3 115.3 240.9z'/%3E%3Cpath class='st0' d='M288.2 276.9l9.5-17.2c6.8-11.2 18.7-7.4 23.3-2.9 7.7 7.7 10 19.7 4.3 27.6l-11.6 15.9c-1.2 1.6-0.8 4.1 1 5.7 2.6 2.3 4.7 0.9 4.9 0.1l12.1-15.6c5.6-7.2 6.7-17.7 3.4-27.4 2.2 0.3 16.5 2.3 27.4-11.8l19.4-25.1c2.4-3 2.2-7-0.4-9.2 -2.6-2.1-6.3-1.4-8.6 1.8l-18.6 25.6c-7 10-19.5 11.5-28 4.1 -8.3-7.1-10.5-21.1-4.6-31.9l15.1-27.4c1.9-3.3 1.4-7.4-1.1-9.4 -2.5-2-5.6-0.9-7.4 2.5l-14.3 27.8c-5.3 10.4-5.7 22.6-2.1 32.5 -2-0.2-14.1-1.5-20.7 11.3l-9 17.6c-0.9 1.8-0.3 4.3 1.3 5.9C285.2 278.8 287.2 278.7 288.2 276.9z'/%3E%3Cpath class='st0' d='M321.2 278.8c1.4-2 0.9-4.8-1-6.5l-11.6-10.5c-1.9-1.7-4.3-1.4-5.5 0.6 -1.2 2-0.6 4.8 1.2 6.5l11.3 10.2C318.3 281.4 320.6 280 321.2 278.8z'/%3E%3Cpath class='st0' d='M311.9 285.1l-11-10c-1.8-1.6-4-1.5-5.1 0.4 -1.1 1.8-0.5 4.4 1.2 6l10.5 9.6c0.9 0.8 2.9 2.2 5.5 0.1C314.2 289.4 313.7 286.8 311.9 285.1z'/%3E%3Cpath class='st0' d='M338.1 212.6l14.2 12c3.7 2.8 6.7-0.1 7.7-1.5 2.1-3 1.8-6.8-0.7-8.9l-14.8-12.3c-2.4-2-5.6-1.1-7.4 2C335.4 206.9 335.8 210.6 338.1 212.6z'/%3E%3Cpath class='st0' d='M326 222.8c-1.6 2.7-1.1 6.1 1.1 8l13.3 11.4c3.3 2.6 6.1 0.2 7-1.1 1.8-2.6 1.5-6.1-0.9-8.1l-13.7-11.7C330.5 219.3 327.5 220 326 222.8z'/%3E%3C/svg%3E") no-repeat center center;
  width: 100%;
  height: 42px;
}

.marti-logo-full {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 304.7 302.2' style='enable-background:new 0 0 304.7 302.2;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23000000;%7D%3C/style%3E%3Cpath class='st0' d='M221.5,29H186c-0.4-7.6,3-23.7-9.1-23.7H132c-12.1,0-8.7,16.1-9.1,23.6c-17.4,1.6-54.7-8.1-55.2,19.7v130.1	c0.7,18.2,16.5,21,31.5,19.7c-0.6,6.8,0.3,15.7,9.1,15.8h92.2c8.7,0,9.7-9,9.1-15.8c15,1.2,30.8-1.4,31.5-19.7V48.6	C241.2,37.9,232.3,29,221.5,29z M130.8,14.4c0-0.7,0.5-1.2,1.2-1.2h44.9c0.7,0,1.2,0.5,1.2,1.2V29h-47.3L130.8,14.4L130.8,14.4z M201.7,205.3c0.3,3.4-92.2,0.1-93.4,1.2c-2.3,0.2-0.8-6.8-1.2-7.9h94.6V205.3z M233.3,178.9c-0.2,13.1-14.2,12.2-23.7,11.8	c-5.6,0-120.7,0-122.2,0c-6.5,0-11.8-5.3-11.8-11.8V48.7c0-6.5,5.3-11.8,11.8-11.8h35.5c22.6,0.2,76.5-0.1,98.6,0	c6.5,0,11.8,5.3,11.8,11.8V178.9L233.3,178.9z M162.3,159.1h-15.8c-5.1-0.1-5.1,8,0,7.9h15.8C167.4,167.1,167.4,159.1,162.3,159.1z M139.5,72.5c-22.1-36.1-76.4-4.2-55.5,32.7C126.6,163.2,170.4,141.3,139.5,72.5z M136,130.1c-10.4,6.2-37.6-16-45.3-28.9	C75,73.3,116,49.3,132.7,76.5C138.4,84.4,147.3,123.3,136,130.1z M213.5,61.1c-33.4-17.3-54.1,17.3-54,50.1	c-0.3,11.3,2,21.5,9.4,25.8c19.7,9.4,47.7-18.7,56.1-31.7C233.8,90.2,228.9,70.2,213.5,61.1z M218.1,101.2	c-4.2,8.8-33.8,35.5-45.3,28.9c-11.6-8.5-2.2-44.9,3.3-53.6C192.9,49.2,233.8,73.5,218.1,101.2z M131.2,100.9c-2.6-5-7.2-4.5-8-4.4	c3.5-7.3-3.2-17-6.4-23.4c-1.8-3.3-4.9,0.2-3.3,2.7c3.3,6.1,11.6,17.1,4.1,23c-7.7,7-14.2-6.7-18.1-11.5c-2-2.9-5.7,0.3-3.5,2.9	l7.5,9.7c4.2,5.5,9.8,4.7,10.6,4.6c-2.8,6.6,2.3,12.1,6,16.7c0.6,1.5,3.6-0.9,2.3-2.3l-4.5-6.2c-4.5-5.7,4.2-18.2,10.7-9.6	c0.9,0.7,3.5,9.1,5.5,6.8C136.5,108.5,131.5,102.5,131.2,100.9z M126.6,104.2c-0.5-0.8-1.4-0.9-2.1-0.2c-1,1.4-6.6,4.4-4.9,6.6	c0.2,0.5,1.1,1,2.2,0.1C122.8,109.3,128.1,106.5,126.6,104.2z M127.4,109.2c-0.9,1.3-6.2,4.3-4.7,6.2c1.9,1.7,4.8-3,6.2-3.8	C130.4,110.5,129.2,107.6,127.4,109.2z M107.5,89.6L113,85c2-1.4-0.2-6-2.5-4.2l-5.7,4.8C102.8,87,104.6,91.4,107.5,89.6z M109.4,96	c0.3,0.5,1.4,1.4,2.7,0.4c1.3-1.7,7.6-4.7,5.6-7.5c-1.7-3.4-6.4,3.3-8,4C108.8,93.6,108.7,94.9,109.4,96z M209.3,87.4l-7.2,9.9	c-7,9.2-18-2.2-12.6-10.8c0.6-2.4,8.6-12,5.5-14.3c-2.9-2.8-7.1,10.6-8.4,11.8c-2.1,4-2.2,8.8-0.8,12.6c-0.8-0.1-5.5-0.6-8,4.4	l-3.5,6.8c-0.8,1.3,1.3,3.9,2.3,2.2c2.8-5.5,6.3-13.2,12.7-7.8c6.1,5.8,1,12-2.8,16.9c-1.3,1.3,1.7,3.7,2.3,2.3	c3.7-4.6,8.8-10.1,6-16.7c0.8,0.1,6.4,0.9,10.6-4.6l7.5-9.7C215,87.7,211.4,84.5,209.3,87.4z M189.3,110.6c1.7-2.2-4-5.2-4.9-6.6	c-0.7-0.7-1.7-0.6-2.1,0.2c-1.5,2.2,3.9,5.1,4.9,6.5C188.2,111.7,189.1,111.1,189.3,110.6z M185.7,113.1l-4.3-3.9	c-1.8-1.5-3,1.3-1.5,2.5l4.1,3.7C185.3,116.9,187.5,114.7,185.7,113.1z M195.9,85l5.5,4.6c2.9,1.8,4.6-2.6,2.7-4l-5.7-4.8	C196,78.9,193.8,83.5,195.9,85z M191.1,88.9c-2,2.8,4.3,5.9,5.6,7.5c1.3,1,2.4,0.1,2.7-0.4c2.3-2.8-4.4-6-5.7-7.7	C192.9,87.6,191.8,87.8,191.1,88.9z M13.6,297.6H6.4l7.2-62.5l23.8,43.1l23.8-43.1l7.2,62.5h-7.2l-4.4-40.2L37.4,292L18,257.3	L13.6,297.6z M106.9,275.1l-0.7,1.5l-8.8,20.9h-8.1l27.6-62.5l27.6,62.5h-8.1c-5-11.8-14.5-34.2-19.5-46.1L106.9,275.1z M103.9,272.9h26.3l2.6,6.8h-31.5L103.9,272.9z M176,238.1v59.5h-7.2v-59.5H176z M172.8,238.1c13.4-0.9,32.6,0.2,32.4,17.9	c0.1,17.6-19,18.8-32.4,17.8v-6.4c9.1,0.1,25.5,1.9,25.2-11.5c0.4-13.4-16.1-11.6-25.2-11.5L172.8,238.1L172.8,238.1z M187.5,268.2	l21.2,29.3h-8.9l-20.4-29.3H187.5z M227.4,238.1h37.8v6.8h-15.3v52.7h-7.2v-52.7h-15.3L227.4,238.1L227.4,238.1z M290.9,239	c4.2-4.3,10.9,2.4,6.6,6.6C293.3,250.1,286.4,243.1,290.9,239z M297.5,258.5v39.1h-6.8v-39.1H297.5z'/%3E%3C/svg%3E") no-repeat center center;

  width: 100%;
  height: 100px;

}



/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  background-color: white;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: white;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: white;
}

/* Standard syntax */
:fullscreen {
  background-color: white;
}

.fullScreenIcon {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0.5rem;
}


.sidebar-dark .nav-item.active .nav-link {
  color: #fff;
  border-left: 4px solid #fff;
  padding-left: 12px;
}

#accordionSidebar {
  background-color: #303030;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 6.5rem);
  z-index: 1030;
}

.topToggled {
  left: 0;
  width: auto !important;
}

.container-fluid {
  padding-top: 5rem;
}

.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.navbar-height {
  height: 2rem !important;
}

#pageTitle {
  /* margin-left: 8.5rem; */
}
.mr-075 {
  margin-right: 0.75rem;
}
.z-index-1 {
  z-index: 1;
}
.fixed-options-bar {
  background-color: #F7F7F7;
  height: 3rem;
  position: fixed;
  top: 3.5rem;
  right: 0;
  width: calc(100% - 6.5rem);
  z-index: 1029;
}
.abundance-button>button:focus {
  box-shadow: none !important;
}
.visibleUrl {
    color: #375a7f;
    text-decoration: underline;
}


.tooltip-content-wrapper {
  max-width:400px;
}


.tooltip-content {
  display: inline-block;
}

.arial-font {
  font-family: Arial;
}

th.dt-center, td.dt-center {
  text-align: center;
}

.row.columns-2 {
	min-width: 700px;
}

@media (max-width: 768px) {
	.row.columns-2 {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
